<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.wangyixinwen">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.andy.share.App"
        android:allowBackup="true"
        android:icon="@drawable/wangyi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".webview.WebActivity" />
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Sousuo.SousuoActivity" />
        <activity android:name=".yindao.yindaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shezhi.ShezhiActivity" />
        <activity android:name=".PhotoActivity" />
        <activity
            android:name=".GestureEditActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".GestureVerifyActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
    </application>

</manifest>